footer.footer--wrapper 
    .footer--contact 
        .footer--contact__col
            .wrapper--bottom__logo
                img(src="./img/logo.jpg", alt="")
            .content 
                p The mission of our store is to change the world: we want to make vegan the new normal by providing an easy and convenient way to shop. So if you are looking for a fresh alternative to milk or a spicy organic steak, we are your first and right choice.
            ul.contact--menu
                li
                    em.mdi.mdi-map-marker
                    p The Company Name Inc. 9870 St Vincent Place, Glasgow, DC 45
                li
                    em.mdi.mdi-phone
                    a(href="tel:80023456789") 800-2345-6799
                li 
                    em.mdi.mdi-fax
                    a(href="javascript:void(0)") 800-2345-6799
                li 
                    em.mdi.mdi-email
                    a(href="javascript:void(0)") demo@demo.com
        .footer--contact__col
            .contact--page
                ul
                        li
                            a(href="javascripts:void(0)") Mozzarella Sticks
                        li
                            a(href="javascripts:void(0)") Onion Rings
                        li
                            a(href="javascripts:void(0)") French Fries
                        li
                            a(href="javascripts:void(0)") Chicken Fingers
                        li
                            a(href="javascripts:void(0)") Buffalo Wings
                        li
                            a(href="javascripts:void(0)") Mozzarella Sticks
                        li
                            a(href="javascripts:void(0)") Onion Rings
                        li
                            a(href="javascripts:void(0)") French Fries
                        li
                            a(href="javascripts:void(0)") Chicken Fingers
                        li
                            a(href="javascripts:void(0)") Buffalo Wings
                        li
                            a(href="javascripts:void(0)") Chicken Fingers
                        li
                            a(href="javascripts:void(0)") Buffalo Wings
                ul
                        li
                            a(href="javascripts:void(0)") Mozzarella Sticks
                        li
                            a(href="javascripts:void(0)") Onion Rings
                        li
                            a(href="javascripts:void(0)") French Fries
                        li
                            a(href="javascripts:void(0)") Chicken Fingers
                        li
                            a(href="javascripts:void(0)") Buffalo Wings 
        .footer--contact__col.background--col 
            ul.contact--service
                li 
                    em.mdi.mdi-autorenew
                    a(href="javascript:void(0)") Return & Exchange
                    p.content You can return or exchange the item within 30 days
                li 
                    em.mdi.mdi-shield-check
                    a(href="javascript:void(0)") 100% Quality Guarantee
                    p.content No MOQ, Customize Production Acceptable
                li 
                    em.mdi.mdi-car
                    a(href="javascript:void(0)") Free Delivery
                    p.content Free delivery on orders of $200 and more.
                li 
                    em.mdi.mdi-headset
                    a(href="javascript:void(0)") +3(800) 2345-6789
                    p.content Round-the-clock free hotline (24/7)
    .footer--copyright 
        p © 2021 - Ecommerce software by 
        a(href="javascript:void(0)") PrestaShop™ 