//- header 
//-     .header--wrapper__top
//-         .wrapper--top__categories
//-             .categories--select
//-                 a(href="javascripts:void(0)")
//-                     em.fas.fa-exchange-alt
//-                 select(name="categories")
//-                     option(value="0") 1
//-                     option(value="1") 2
//-             .categories--search 
//-                 .form--wrapper 
//-                     form(action="")
//-                         input(type="text", name="", placeholder="Search...")   
//-                         button(type="submit")
//-                             em.mdi.mdi-magnify
//-         .wrapper--top__contact
//-             p Call us today: 
//-             a(href="tel:80023456789") 800--2345--6789
//-         .wrapper--top__nav
//-             ul 
//-                 li 
//-                     a(href="javascript:void(0)") Delivery
//-                 li 
//-                     a(href="javascript:void(0)")  About us
//-                 li 
//-                     a(href="javascript:void(0)") FAQs
//-                 li 
//-                     a(href="javascript:void(0)") Sitemap
//-         .wrapper--top__language
//-             .languare--wrapper 
//-                 select(name="language")
//-                     option(value="0") English
//-                     option(value="1") Viet Nam
//-             .currency--wrapper 
//-                 select(name="currency")
//-                     option(value="0") USD
//-                     option(value="1") VND
//-     .header--wrapper__bottom
//-         .wrapper--bottom__logo
//-             img(src="./img/logo.jpg", alt="")
//-         ul.wrapper--bottom__menu
//-             li 
//-                 a(href="javascript:void(0)") Appetizers
//-                 ul.menu__child
//-                     li
//-                         a(href="javascripts:void(0)") Mozzarella Sticks
//-                     li
//-                         a(href="javascripts:void(0)") Onion Rings
//-                     li
//-                         a(href="javascripts:void(0)") French Fries
//-                     li
//-                         a(href="javascripts:void(0)") Chicken Fingers
//-                     li
//-                         a(href="javascripts:void(0)") Buffalo Wings
//-             li 
//-                 a(href="javascript:void(0)")  Soups
//-                 ul.menu__child
//-                     li
//-                         a(href="javascripts:void(0)") Mozzarella Sticks
//-                     li
//-                         a(href="javascripts:void(0)") Onion Rings
//-                     li
//-                         a(href="javascripts:void(0)") French Fries
//-                     li
//-                         a(href="javascripts:void(0)") Chicken Fingers
//-                     li
//-                         a(href="javascripts:void(0)") Buffalo Wings
//-             li 
//-                 a(href="javascript:void(0)") Salads
//-             li 
//-                 a(href="javascript:void(0)") Pizza/ Calzones/ Pasta
//-                 .menu--all
//-                     .menu--all__wrapper 
//-                         .wrapper--1 
//-                             ul
//-                                 li
//-                                     a(href="javascripts:void(0)") New
//-                                 li 
//-                                     a(href="javascripts:void(0)") Best sellers
//-                                 li 
//-                                     a(href="javascripts:void(0)") Specials
//-                                 li 
//-                                     a(href="javascripts:void(0)") Trial items
//-                                 li 
//-                                     a(href="javascripts:void(0)") Gifts
//-                         .wrapper--2
//-                             ul
//-                                 a.title(href="javascript:void(0)") Pizza
//-                                 li
//-                                     a(href="javascripts:void(0)") New
//-                                 li 
//-                                     a(href="javascripts:void(0)") Best sellers
//-                                 li 
//-                                     a(href="javascripts:void(0)") Specials
//-                                 li 
//-                                     a(href="javascripts:void(0)") Trial items
//-                                 li 
//-                                     a(href="javascripts:void(0)") Gifts
//-                         .wrapper--2
//-                             ul
//-                                 a.title(href="javascript:void(0)") Pizza 
//-                                 li
//-                                     a(href="javascripts:void(0)") New
//-                                 li 
//-                                     a(href="javascripts:void(0)") Best sellers
//-                                 li 
//-                                     a(href="javascripts:void(0)") Specials
//-                                 li 
//-                                     a(href="javascripts:void(0)") Trial items
//-                                 li 
//-                                     a(href="javascripts:void(0)") Gifts
//-                                 ul
//-                                     a.title(href="javascript:void(0)") Pizza 
//-                                     li
//-                                         a(href="javascripts:void(0)") New
//-                                     li 
//-                                         a(href="javascripts:void(0)") Best sellers
//-                                     li 
//-                                         a(href="javascripts:void(0)") Specials
//-                                     li 
//-                                         a(href="javascripts:void(0)") Trial items
//-                                     li 
//-                                         a(href="javascripts:void(0)") Gifts
//-                     .menu--all__banner
//-                         img(src="./img/banner-nav.png", alt="")
//-                         .banner--content 
//-                             h3.title Save <br>10%
//-                             p Get the finest section here
//-                             a.btn-shop(href="javascript:void(0)") Shop now
//-             li 
//-                 a(href="javascript:void(0)") Rolls
//-             li 
//-                 a(href="javascript:void(0)") Dessert
//-                 ul.menu__child
//-                     li
//-                         a(href="javascripts:void(0)") Mozzarella Sticks
//-                     li
//-                         a(href="javascripts:void(0)") Onion Rings
//-                     li
//-                         a(href="javascripts:void(0)") French Fries
//-                     li
//-                         a(href="javascripts:void(0)") Chicken Fingers
//-                     li
//-                         a(href="javascripts:void(0)") Buffalo Wings
//-             li 
//-                 a(href="javascript:void(0)") Beverage
//-         .wrapper--bottom__cart
//-             ul
//-                 li 
//-                     a(href="javascript:void(0)")
//-                         em.mdi.mdi-heart-outline
//-                 li 
//-                     a(href="javascript:void(0)")
//-                         em.mdi.mdi-account-outline
//-                 li 
//-                     a(href="javascript:void(0)")
//-                         em.mdi.mdi-cart
//-     .nav-mobile